

<div id="form">
	<%= form_for [@test, setup_question(@question)] do |f| %>
		<p>
			<div class="row">
	            <div class="form-group col-lg-3">
					<div id="question">
						<%= f.label :question, "Pitanje: ", class: 'sr-only'%>
						<%= f.text_field :question, {class: 'form-control', placeholder: 'Upiši pitanje...'}  %> </br>
					</div>
				</div>
			</div>
			<div id="answers">	
				<%= f.fields_for :answers do |ff| %>
					<div class="row">
			            <div class="form-group col-lg-3">
							<%= ff.label :description, "Odgovor: "  %> 
							<%= ff.text_field :description, {class: 'form-control', placeholder: 'Upiši opis...'}  %>
							<%= ff.check_box :correct%>
						</div>
					</div>
				<% end %>
			</div>
		</p>
		<%= f.submit "Kreiraj pitanje!"%>
	<% end %>
</div>